{% extends 'index.html' %}
{% load static %}
{% load i18n%}
{% block page %}

<html lang="en">


            <section class="banner_area">
                <div class="overlay_bg parallax-effect" style="background: url(/static/img/banner1.jpg) no-repeat;"></div>
                <div class="container">
                    <div class="breadcrumb_content">

                    </div>
                </div>
            </section>
            <section class="con_work_process_area sec_gap">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="con_work_img">
                                <div data-parallax='{"x": -10, "y": 10}' class="img_one">
                                    <img src="{% static 'img/home/2.jpg'%}" alt="">
                                </div>
                                <div data-parallax='{"x": -10, "y": -25}' class="img_two">
                                    <img src="{% static 'img/home/1.jpg'%}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center">
                            <div class="con_work_content">
                                <div class="section_title">
                                    <h6 class="con_title_top">{% trans 'История Ассоциации'%}</h6>
                                    <h2 class="con_title">{% trans 'Погрузимся в начало развития нашей компании'%}</h2>
                                    <div class="line_bottom"></div>
                                    <p class="con_p">Twit cras excuse my French matie boy grub it’s all gone to pot off his nut butty horse play blow off pardon you hanky panky. Why I say old chap that is sping lavatory.</p>
                                </div>

                            </div>
                        </div>
                        <h3 class="con_title" style="width: fit-content; margin: 16px auto 0">{% trans 'Наши цели' %}</h3>
                        <div class="row targets">
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="media con_features_item">
                                            <div class="media_icon">
                                                <img src="{% static 'img/home-1/icon1.png' %}" alt="">
                                            </div>
                                            <div class="media-body">
                                                <h3>{% trans 'Лучшее качество'%}</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="media con_features_item">
                                            <div class="media_icon">
                                                <img src="{% static 'img/home-1/icon2.png'%}" alt="">
                                            </div>
                                            <div class="media-body">
                                                <h3>{% trans 'Быстрые решения' %}</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="media con_features_item">
                                            <div class="media_icon">
                                                <img src="{% static 'img/home-1/icon3.png' %}" alt="">
                                            </div>
                                            <div class="media-body">
                                                <h3>{% trans 'Лучшее развитие' %}</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="media con_features_item">
                                            <div class="media_icon">
                                                <img src="{% static 'img/home-1/icon4.png' %}" alt="">
                                            </div>
                                            <div class="media-body">
                                                <h3>{% trans 'Современные технологии'%}</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </div>
                </div>
            </section>
            <section class="con_testimonial_area">
                <div id="home-overlay_bg2" class="overlay_bg parallax-effect"></div>
                <div class="container">
                    <div class="con_testimonial_info">
                        <div class="custom_nav_two">
                            <i class="ti-arrow-left prev"></i>
                            <i class="ti-arrow-right next"></i>
                        </div>
                        <div class="con_testimonial_slider">
                            {% for quote in quotes %}
                            <div class="testimonial_item">
                                <div class="author_img"><img src="{{ quote.image.url }}" alt=""></div>
                                <h5>{{ quote.full_name }}</h5>
                                <h6>{{ quote.job_title }}</h6>
                                <p>{{ quote.text }}</p>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </section>

            <section class="con_team_area_three sec_gap">
                <div class="container">
                    <div class="section_title text-center wow fadeInUp" data-wow-delay="0.2s">
                        <h2 class="con_title">{% trans 'Наше руководство'%}</h2>
                    </div>
                    <div class="row">
                        {% for em in employee %}

                        <div class="col-lg-4 col-sm-6 wow fadeInLeft" data-wow-delay="0.1s">
                            <div class="con_team_item_two">
                                <div class="team_img hover_effect">
                                    <img src={{em.image.url}} alt="team1">
                                    <div class="social_icon">
                                        <a href="#"><i class="ti-facebook"></i></a>
                                        <a href="#"><i class="ti-twitter-alt"></i></a>
                                        <a href="#"><i class="ti-pinterest"></i></a>
                                    </div>
                                </div>
                                <div class="content">
                                    <a href="#">
                                        <h5>{{em.full_name}}</h5>
                                    </a>
                                    <p>{{em.position}}</p>
                                </div>
                            </div>
                        </div>
                                    {% endfor %}

                    </div>
                </div>
            </section>

            <section class="con_video_area">
                <div class="overlay_bg parallax-effect" style="background: url(/static/img/road.jpg) no-repeat;"></div>
                <div class="container">
                    <div class="con_video_content">
                        <a href="https://www.youtube.com/watch?v=sU3FkzUKHXU" class="video_btn popup-youtube">
                            <span></span>
                        </a>
                        <h2>{% trans 'Мы выполним работу, о которой вы мечтаете!'%}</h2>
                    </div>
                </div>
            </section>

            {% include 'statistic.html' %}
            <div class="carousel-container">
      <div class="inner-carousel">
        <ul class="track">
          {% for partner in partners %}
          <li class="card-container"> <span class="card">{{partner.partner_name}}</span></li>
         {% endfor%}
        </ul>
        <div class="nav">
          <button class="prev"><i class="carousel-control-prev-icon"></i></button>
          <button class="next"><i class="carousel-control-next-icon"></i></button>
        </div>
  </div>
</div>

            <section class="con_clients_logo">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <div class="section_title">
                                <h6 class="con_title_top">{% trans 'Наше сотрудничество' %}</h6>
<!--                                <h2 class="con_title">{% trans 'Почетные партнеры' %}<br></h2>-->
                                <h2 class="con_title">{% trans 'Наши компании' %}<br></h2>
                            </div>
                        </div>
                        <div class="col-md-8 d-flex">
                            <div class="con_logo_item">
                                <a href="#"><img src="{% static 'img/home-1/clients-logo/Logo1.png' %}" alt=""></a>
                            </div>
                            <div class="con_logo_item">
                                <a href="#"><img src="{% static 'img/home-1/clients-logo/Logo2.png' %}" alt=""></a>
                            </div>
                            <div class="con_logo_item">
                                <a href="#"><img src="{% static 'img/home-1/clients-logo/Logo5.png' %}" alt=""></a>
                            </div>
                            <div class="con_logo_item">
                                <a href="#"><img src="{% static 'img/home-1/clients-logo/Logo4.png' %}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="carousel-container">
                <div class="container">
                    <h2 class="con_title next congress-title">{% trans 'Международные конгрессы' %}</h2>
                                <div class="slider">
	  <div class="arrows">
	    <p class="previous"><</p>
	    <p class="next">></p>
	  </div>
	  <div class="slides">
          {% for cong in congresses%}
			<div class="slide blue">
                <div style="display: flex; flex-wrap: wrap">
                    <h2>{{ cong.title}}</h2>
                    <div><img src="{{ cong.image.url}}" alt="{{ cong.title}}">
				    <p>{{ cong.text}}</p></div>
                </div>
			</div>
            {% endfor %}
		</div>
		<div class="bullets">
		</div>
	</div>
                </div>
            </section>

{% endblock %}