{% extends 'index.html' %}
{% load static %}
{% block page %}



            <section class="banner_area">
                <div class="overlay_bg parallax-effect" style="background: url(static/img/banner4.jpg) no-repeat;"></div>
                <div class="container">
                    <div class="breadcrumb_content">
                        <h2>BLOG STANDARD</h2>
                        <ol class="list-unstyled">
                            <li><a href="#">Home</a></li>
                            <li>Blog STANDARD</li>
                        </ol>
                    </div>
                </div>
            </section>
            <section class="con_blog_area sec_gap">
                <div class="container">
                    <div class="row">
                        <div class="col-7">
                            {% for new in news %}
                        <div class="col-lg-8">
                            <div class="blog_inner">
                                <article class="blog_item">
                                    <a href="#"><img src="{{new.image.url}}" alt=""></a>
                                    <ul class="post_meta list-unstyled">
                                        <li><a href="#"><i class="far fa-calendar-alt"></i>{{ new.created_at.date}}</a></li>
                                        <li><i class="far fa-folder"></i><a href="#">Construction,</a> <a href="#">Building</a></li>
                                    </ul>
                                    <a href="{% url 'news' new.pk %}">
                                        <h2 class="l_post_title">{{ new.title}}</h2>
                                    </a>
                                    <p>{{ new.text}}</p>
                                    <a href="{% url 'news' new.pk %}" class="read_btn">Read More <i class="ti-angle-right"></i></a>
                                </article>
                            </div>

                        </div>
                                {% endfor %}
                        </div>




                        <div class="col-lg-4">
                            <div class="blog_sidebar">
                                <div class="widget sidebar_widget widget_search">
                                    <form action="#" class="search-form input-group">
                                        <input type="search" class="form-control widget_input" placeholder="Search here">
                                        <button type="submit"><i class="fas fa-search"></i></button>
                                    </form>
                                </div>
                                <div class="widget recente_post_widget">
                                    <h4 class="w_title">Последние новости</h4>
                                    {% include "last_four_news.html" %}
                                </div>


                                </div>
                            <nav class="navigation pagination" role="navigation">
                                    <a class="prev page-numbers" href="#"><i class="ti-arrow-left"></i></a>
                                    <span aria-current="page" class="page-numbers current">1</span>
                                    <a class="page-numbers" href="#">2</a>
                                    <a class="next page-numbers" href="#"><i class="ti-arrow-right"></i></a>
                                </nav>
                            </div>


                        </div>
                    </div>
                </div>
            </section>

{% endblock %}