{% extends 'index.html' %}
{% load static %}
{% load i18n%}
{% block page %}



            <section class="banner_area">
                <div class="overlay_bg parallax-effect" style="background: url(static/img/banner4.jpg) no-repeat;"></div>
                <div class="container">
                    <div class="breadcrumb_content">

                    </div>
                </div>
            </section>
            <section class="con_blog_area sec_gap">
                <div class="container-xxl news">
                    <div class="row">
                        <div class="col-9" style="display: flex; flex-wrap: wrap">
                            {% for new in news %}
                        <div class="col-lg-6">
                            <div class="blog_inner">
                                <article class="blog_item">
                                    <a href="#"><img src="{{new.image.url}}" alt=""></a>
                                    <ul class="post_meta list-unstyled">
                                        <li><a href="#"><i class="far fa-calendar-alt"></i>{{ new.created_at.date}}</a></li>
                                        <li><i class="far fa-folder"></i><a href="#">{% trans 'Конструкция' %}</a> <a href="#">Building</a></li>
                                    </ul>
                                    <a href="{% url 'news' new.pk %}">
                                        <h2 class="l_post_title">{{ new.title}}</h2>
                                    </a>
                                    <p>{{ new.text}}</p>
                                    <a href="{% url 'news' new.pk %}" class="read_btn">Read More <i class="ti-angle-right"></i></a>
                                </article>
                            </div>

                        </div>
                                {% endfor %}
                        </div>




                        <div class="col-lg-3">
                            <div class="blog_sidebar">
                                <div class="widget sidebar_widget widget_search">
                                    <form action="{% url 'search' %}" method="GET" class="search-form input-group">
                                        <input name="q" type="search" class="form-control widget_input" placeholder="Название">
                                        <button type="submit"><i class="fas fa-search"></i></button>
                                    </form>
                                </div>
                                <div class="widget recente_post_widget">
                                    <h4 class="w_title" style="text-align: center;">{% trans 'Последние новости' %}</h4>
                                    {% include "last_four_news.html" %}
                                </div>


                                </div>

                            </div>
<nav class="navigation pagination" role="navigation">
                                    <a class="prev page-numbers" href="#"><i class="ti-arrow-left"></i></a>
                                    <span aria-current="page" class="page-numbers current">1</span>
                                    <a class="page-numbers" href="#">2</a>
                                    <a class="next page-numbers" href="#"><i class="ti-arrow-right"></i></a>
                                </nav>

                        </div>
                    </div>
                </div>
            </section>
<section class="blog-con_project_area con_project_area sec_gap">
                <div class="container">
                    <div class="project_title d-flex justify-content-between align-items-end">
                        <div class="section_title">
                            <h6 class="con_title_top">{% trans 'Новые технологии' %}</h6>
                            <h2 class="con_title c_w">{% trans 'Инновации приходят каждый день' %}</h2>
                            <div class="line_bottom mb-0"></div>
                        </div>
                        <div class="custom_nav">
                            <i class="ti-angle-left prev"></i>
                            <i class="ti-angle-right next"></i>
                        </div>
                    </div>
                    <div class="con_project_info" id="project_slider">
                        {% for new_t in new_techno%}

                        <div class="col-lg-12">
                            <div class="project_item">
                                <img src="{{new_t.image.url}}" alt="">
                                <div class="text">
                                    <a href="#">
                                        <h4>{{new_t.project_title}}</h4>
                                    </a>
                                    <p>{{new_t.text}}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
            <section class="">
                <h2 class="con_title" style="
    margin: 25px 0 15px;
    text-align: center;
">СМИ о нас</h2>
                <div class="page-content">
                    {% for media in media_news%}
              <div class="card">
                  <img src="{{media.image.url}}" alt="">
                <div class="content">
                  <h2 class="title">{{media.title}}</h2>
                  <p class="copy">{% trans 'Check out all of these gorgeous mountain trips with beautiful views of, you guessed it, the mountains' %}</p>
                  <a href="{{media.link}}" target="_blank" class="btn">{% trans 'Подробнее' %}</a>
                </div>
              </div>
                                {% endfor %}
                </div>


</section>

{% endblock %}