{% extends 'index.html' %}
{% load static %}
{% load i18n%}
{% block page %}
            <section class="con_slider_area">
                <div class="main_slider">
                    {% for qu in quotes %}
                    <div class="slider_item">
                        <div class="overlay_bg" style="background: url({{qu.image.url}}) no-repeat;"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="slider_text slider_text_three slider_text_two">
                                        <h5 data-animation="fadeInUp" data-delay="0.3s">{{qu.text}}</h5>
                                        <h1 data-animation="fadeInUp" data-delay="0.5s">{{qu.quote}}</h1>
<!--                                        <p data-animation="fadeInUp" data-delay="0.9s">Chap fantastic skive off chancer knees up starkers easy peasy up the kyver David, bleeding the BBC tomfoolery chimney..!</p>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor%}

                </div>
                <div class="slider_nav">
                    <i class="ti-arrow-left left_arrow"></i>
                    <i class="ti-arrow-right right_arrow"></i>
                </div>
                <div class="ytp-large-play-button ytp-button slider__video" aria-label="Смотреть">
                    <video src="https://cdn.videvo.net/videvo_files/video/free/2014-12/large_watermarked/Metal_Wind_Chimes_at_Sunset_preview.mp4"
                       type="video/mp4" muted class="vid"
                       loop>
                </video>
                </div>
            </section>
            <section class="con_about_area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="con_about_img wow fadeInLeft" data-wow-delay="0.2s">
                                <img data-parallax='{"x": 10, "y": 20}' src="{% static 'img/home/5.JPG' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-5 d-flex align-items-center">
                            <div class="con_about_text">
                                <h6 class="con_title_top wow fadeInUp" data-wow-delay="0.2s" >{% trans 'О НАС'%}</h6>
                                <h2 class="con_title wow fadeInUp" data-wow-delay="0.3s">{% trans 'Мы строим все'%}</h2>
                                <p class="con_p wow fadeInUp" data-wow-delay="0.4s">Twit cras excuse my French matie boy grub it’s all gone to pot off his nut butty horse play blow off pardon you hanky panky. Why I say old chap that is sping lavatory chip shop gosh off his, smashing boot are you taking the piss posh loo brilliant matie boy young. That ummm I'm telling Why say bleeder smashing lemon squeezy tosser, cheesed off dropped..!</p>
                                <a href="{% url 'about' %}" class="con_btn btn_effect wow fadeInUp" data-wow-delay="0.5s">{% trans 'Подробнее' %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="con_video_area">
                {% for v in video_content %}
                <div style="background: url('{{v.image.url}}')" class="overlay_bg parallax-effect"></div>
                <div class="container">
                <div class="container">
                    
                    <div class="con_video_content">
                        <a href="{{v.video}}" class="video_btn popup-youtube wow fadeIn" data-wow-delay="0.5s">
                            <span></span>
                        </a>
                        <h2>{{ v.text}}</h2>
                    </div>
                    
                </div>
                    </div>
                {% endfor %}
            </section>
            {% include 'statistic.html' %}
            <section class="con_latest_project_area bg_color">
                <div class="container">
                    <div class="section_title text-center wow fadeInUp" data-wow-delay="0.2s">
                        <h6 class="con_title_top">{% trans 'НАШЕ ПОРТФОЛИО'%}</h6>
                        <h2 class="con_title">{% trans 'Наши последние проекты'%}</h2>
                    </div>
                    <div id="portfolio_filter" class="portfolio_filter">
                        <div data-filter="*" class="work_portfolio_item active wow fadeInLeft" data-wow-delay="0.2s">ВСЁ</div>
                        {% for p in projects %}
                        <div data-filter=".{{p.id}}" class="work_portfolio_item wow fadeInLeft" data-wow-delay="0.4s">
                            {{p.project_name}}</div>

                        {%endfor%}
                    </div>
                    <div class="row portfolio_gallery" id="work-portfolio">
                        {%for p in portfolio_ %}
                        <div class="col-lg-4 col-sm-6 portfolio_item {{p.id}}">
                            <div class="portfolio_img hover_effect">
                                <img src="{{p.image.url}}" alt="">
                                <div class="hover_content">
                                    <h5><span>{{p.project_title}}</span></h5>
                                    <h4><span>{{p.text}}</span></h4>
                                </div>
                            </div>
                        </div>
                        {%endfor%}
                                            </div>
                    <div class="text-center">
                        <a href="{% url 'portfolio'%}" class="con_btn btn_effect">{% trans 'Посмотреть всё'%}</a>
                    </div>
                </div>
            </section>
<section>
<!--   <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">-->
<!--  <div class="carousel-inner">-->
<!--    <div class="carousel-item active" data-bs-interval="10000">-->

<!--      <ul>-->
<!--          {% for partner in partners %}-->

<!--          <li> <span>{{partner.partner_name}}</span></li>-->
<!--         {% endfor%}-->

<!--      </ul>-->

<!--    </div>-->

<!--  </div>-->
<!--  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">-->
<!--    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--    <span class="visually-hidden">Previous</span>-->
<!--  </button>-->
<!--  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">-->
<!--    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--    <span class="visually-hidden">Следующий</span>-->
<!--  </button>-->
<!--</div>-->
    <div class="carousel-container">
      <div class="inner-carousel">
        <ul class="track">
          {% for partner in partners %}
          <li class="card-container"> <span class="card">{{partner.partner_name}}</span></li>
         {% endfor%}
        </ul>
        <div class="nav">
          <button class="prev"><i class="carousel-control-prev-icon"></i></button>
          <button class="next"><i class="carousel-control-next-icon"></i></button>
        </div>
  </div>
</div>
</section>
            <section class="con_clients_logo">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <div class="section_title">
                                <h6 class="con_title_top">{% trans 'Наши клиенты' %}</h6>
                                <h2 class="con_title">{% trans 'Почетные Клиенты' %}</h2>
                            </div>
                        </div>
                        <div class="col-md-8 d-flex">
                            <div class="con_logo_item">
                                <a href="#"><img src="{% static 'img/home-1/clients-logo/Logo1.png' %}" alt=""></a>
                            </div>
                            <div class="con_logo_item">
                                <a href="#"><img src="{% static 'img/home-1/clients-logo/Logo2.png' %}" alt=""></a>
                            </div>
                            <div class="con_logo_item">
                                <a href="#"><img src="{% static 'img/home-1/clients-logo/Logo5.png' %}" alt=""></a>
                            </div>
                            <div class="con_logo_item">
                                <a href="#"><img src="{% static 'img/home-1/clients-logo/Logo4.png' %}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="con_testimonial_area">
                <div id="home-overlay_bg2" class="overlay_bg parallax-effect"></div>
                <div class="container">
                    <div class="con_testimonial_info">
                        <div class="custom_nav_two">
                            <i class="ti-arrow-left prev"></i>
                            <i class="ti-arrow-right next"></i>
                        </div>
                        <div class="con_testimonial_slider">
                            {% for quote in quotes_managers %}
                            <div class="testimonial_item">
                                <div class="author_img"><img src="{% static 'img/home-1/author.jpg' %}" alt=""></div>
                                <h5>{{ quote.full_name }}</h5>
                                <h6>{{ quote.job_title }}</h6>
                                <p>{{ quote.text }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
            <section class="con_team_area_two sec_gap bg_color">
                <div class="container">
                    <div class="section_title text-center wow fadeInUp" data-wow-delay="0.2s">
                        <h2 class="con_title">{% trans 'Наше руководство' %}</h2>
                    </div>
                    <div class="row">
                        {% for em in employees %}
                        <div class="col-lg-4 col-sm-6 wow fadeInLeft" data-wow-delay="0.3s">
                            <div class="con_team_item_two">
                                <div class="team_img hover_effect">
                                    <img src={{em.image.url}} alt="team1">
                                    <div class="social_icon">
                                        <a href="#"><i class="ti-facebook"></i></a>
                                        <a href="#"><i class="ti-twitter-alt"></i></a>
                                        <a href="#"><i class="ti-pinterest"></i></a>
                                    </div>
                                </div>
                                <div class="content">
                                    <a href="#">
                                        <h5>{{em.full_name}}</h5>
                                    </a>
                                    <p>{{em.position}}</p>
                                </div>
                            </div>
                        </div>
                         {% endfor %}
                    </div>
                </div>
            </section>
            <section class="con_latest_news_area sec_gap">
                <div class="container">
                    <div class="section_title text-center wow fadeInUp" data-wow-delay="0.2s">
                        <h6 class="con_title_top">{% trans 'Наш блог' %}</h6>
                        <h2 class="con_title">{% trans 'Наши последние новости' %}</h2>
                    </div>
                    <div class="row">
                            {% for new in news %}


                            <div class="media latest_post_thumb wow fadeInUp" data-wow-delay="0.8s">
                                <img src="{{new.image.url}}" alt="">
                                <div class="media-body">
                                    <a href="{% url 'news' new.pk %}">
                                        <h4>{{new.title}}</h4>
                                    </a>
                                    <ul class="post_meta list-unstyled">
                                        <li><a href="#"><i class="far fa-calendar-alt"></i>{{ new.created_at.date}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
            <section id="contact" class="con_contact_area bg_color">
                <div class="container-fluid">
                    <div class="row">
                        <div style="margin: 0 auto; text-align: center" class="col-lg-6 col-md-7">
                                                    {% include 'send_mail.html' %}


                        </div>
                    </div>
                </div>
            </section>

{% endblock %}