{% extends 'index.html' %}
{% load static %}
{% block page %}

            <section class="banner_area">
                <div class="overlay_bg parallax-effect" style="background: url(/static/img/banner3.jpg) no-repeat;"></div>
                <div class="container">
                    <div class="breadcrumb_content">

                    </div>
                </div>
            </section>
            <section class="con_latest_project_area">
                <div class="container">
                    <div id="portfolio_filter" class="portfolio_filter">
                        <div data-filter="*" class="work_portfolio_item active">ALL</div>
                        <div data-filter=".con" class="work_portfolio_item">CONSTRUCTION</div>
                        <div data-filter=".build" class="work_portfolio_item">BUILDING</div>
                        <div data-filter=".com" class="work_portfolio_item">COMERCIAL</div>
                        <div data-filter=".in" class="work_portfolio_item">INDUSTRIAL</div>
                        <div data-filter=".design" class="work_portfolio_item">INTERIOR DESIGN</div>
                    </div>
                    <div class="row portfolio_gallery" id="work-portfolio">
                        <div class="col-lg-4 col-sm-6 portfolio_item con in">
                            <div class="portfolio_img hover_effect">
                                <img src="/static/img/home-1/project/1.jpg" alt="">
                                <div class="hover_content">
                                    <h5><span>COMMERCIAL</span></h5>
                                    <h4><span>Round Office</span></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 portfolio_item design build">
                            <div class="portfolio_img hover_effect">
                                <img src="/static/img/home-1/project/2.jpg" alt="">
                                <div class="hover_content">
                                    <h5><span>COMMERCIAL</span></h5>
                                    <h4><span>Round Office</span></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 portfolio_item com design">
                            <div class="portfolio_img hover_effect">
                                <img src="/static/img/home-1/project/3.jpg" alt="">
                                <div class="hover_content">
                                    <h5><span>COMMERCIAL</span></h5>
                                    <h4><span>Round Office</span></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 portfolio_item in con">
                            <div class="portfolio_img hover_effect">
                                <img src="/static/img/home-1/project/4.jpg" alt="">
                                <div class="hover_content">
                                    <h5><span>COMMERCIAL</span></h5>
                                    <h4><span>Round Office</span></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 portfolio_item design">
                            <div class="portfolio_img hover_effect">
                                <img src="/static/img/home-1/project/5.jpg" alt="">
                                <div class="hover_content">
                                    <h5><span>COMMERCIAL</span></h5>
                                    <h4><span>Round Office</span></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 portfolio_item build">
                            <div class="portfolio_img hover_effect">
                                <img src="/static/img/home-1/project/6.jpg" alt="">
                                <div class="hover_content">
                                    <h5><span>COMMERCIAL</span></h5>
                                    <h4><span>Round Office</span></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 portfolio_item in con">
                            <div class="portfolio_img hover_effect">
                                <img src="/static/img/home3/protfolio7.jpg" alt="">
                                <div class="hover_content">
                                    <h5><span>COMMERCIAL</span></h5>
                                    <h4><span>Round Office</span></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 portfolio_item design">
                            <div class="portfolio_img hover_effect">
                                <img src="/static/img/home3/protfolio8.jpg" alt="">
                                <div class="hover_content">
                                    <h5><span>COMMERCIAL</span></h5>
                                    <h4><span>Round Office</span></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 portfolio_item build">
                            <div class="portfolio_img hover_effect">
                                <img src="/static//home3/protfolio9.jpg" alt="">
                                <div class="hover_content">
                                    <h5><span>COMMERCIAL</span></h5>
                                    <h4><span>Round Office</span></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 portfolio_item in con">
                            <div class="portfolio_img hover_effect">
                                <img src="/static/img/home3/protfolio10.jpg" alt="">
                                <div class="hover_content">
                                    <h5><span>COMMERCIAL</span></h5>
                                    <h4><span>Round Office</span></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 portfolio_item design">
                            <div class="portfolio_img hover_effect">
                                <img src="/static/img/home3/protfolio11.jpg" alt="">
                                <div class="hover_content">
                                    <h5><span>COMMERCIAL</span></h5>
                                    <h4><span>Round Office</span></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 portfolio_item build">
                            <div class="portfolio_img hover_effect">
                                <img src="/static/img/home3/protfolio12.jpg" alt="">
                                <div class="hover_content">
                                    <h5><span>COMMERCIAL</span></h5>
                                    <h4><span>Round Office</span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="navigation pagination" role="navigation">
                        <a class="prev page-numbers" href="#"><i class="ti-arrow-left"></i></a>
                        <span aria-current="page" class="page-numbers current">1</span>
                        <a class="page-numbers" href="#">2</a>
                        <a class="next page-numbers" href="#"><i class="ti-arrow-right"></i></a>
                    </nav>
                </div>
            </section>


{% endblock %}