{% extends 'index.html' %}
{% load static %}
{% block page %}

            <section class="banner_area">
                <div class="overlay_bg parallax-effect" style="background: url(/static/img/banner3.jpg) no-repeat;"></div>
                <div class="container">
                    <div class="breadcrumb_content">

                    </div>
                </div>
            </section>
            <section class="con_latest_project_area">
                <div class="container">
                    <div id="portfolio_filter" class="portfolio_filter">
                        <div data-filter="*" class="work_portfolio_item active">ВСЕ</div>
                        {% for project in projects %}
                        <div data-filter=".{{project.id}}" class="work_portfolio_item">{{project.project_name}}</div>
                        {% endfor %}

                    </div>
                    <div class="row portfolio_gallery" id="work-portfolio">
                        {% for port in portfolio %}
                        <div class="col-lg-4 col-sm-6 portfolio_item {{port.project_name.id}}">
                            <div class="portfolio_img hover_effect">
                               <a href="{% url 'portfolio' port.pk%}">
                                <img src="{{ port.image.url}}" alt="">
                                <div class="hover_content">
                                    <h5><span>{{port.project_title}}</span></h5>
                                    <h4><span>Round Office</span></h4>
                                </div>
                               </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    
                </div>
            </section>


{% endblock %}