{% load i18n%}

                            <div class="contact_form_info">
                                <div class="section_title">
                                    <h5 class="con_title_top">{% trans 'СДЕЛАТЬ ЗАПРОС'%}</h5>
                                    <h2 class="con_title">{% trans 'Свяжитесь с нами'%}</h2>
                                </div>
                                <form action="{% url 'appeal' %}" method="post" id="contactForm" novalidate="novalidate" class="contact_form get_quote_form">
                                    <input class="form-control" hidden name="csrfmiddlewaretoken" value={{ token }}>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="ФИО">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="email" name="email" placeholder="e-mail">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="subject" name="subject" placeholder="Тема">
                                    </div>
                                    <div class="form-group">
                                        <textarea id="message" name="message" cols="30" rows="10" class="form-control" placeholder="{% trans 'Ваше сообщение'%}"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" value="submit" class="con_btn btn_effect">{% trans 'Отправить'%}</button>
                                    </div>
                                </form>
                                <div id="success">{% trans 'Ваше сообщение отправлено!'%}</div>
                                <div id="error">{% trans 'Упс! Что-то пошло не так! Попробуйте отправить снова!'%}</div>
                            </div>