<section class="con_skill_area">
                <div class="container">
                    <div class="cons_skill_info">
                        <div class="skill_item">
                            <span class="counter">{{oblast3.results}}</span>
                            <p>{{oblast3.region}}</p>
                        </div>
                        <div class="skill_item">
                            <span class="counter">{{oblast2.results}}</span>
                            <p>{{oblast2.region}}</p>
                        </div>
                        <div class="skill_item">
                            <span class="counter">{{oblast1.results}}</span>
                            <p>{{oblast1.region}}</p>
                        </div>
                        <div class="skill_item">
                            <span class="counter">{{oblast7.results}}</span>
                            <p>{{oblast7.region}}</p>
                        </div>
                        <div class="skill_item">
                            <span class="counter">{{oblast4.results}}</span>
                            <p>{{oblast4.region}}</p>
                        </div>
                    </div>
                    <div class="cons_skill_info cons_skill_info-2">
                        <div class="skill_item">
                            <span class="counter">{{oblast6.results}}</span>
                            <p>{{oblast6.region}}</p>
                        </div>
                        <div class="skill_item">
                            <span class="counter">{{oblast5.results}}</span>
                            <p>{{oblast5.region}}</p>
                        </div>
                        <div class="skill_item">
                            <span class="counter">{{oblast8.results}}</span>
                            <p>{{oblast8.region}}</p>
                        </div>
                    </div>
                </div>
            </section>