{% extends 'index.html' %}
{% load static %}
{% block page %}


            <section class="con_team_area_three sec_gap">
                <div class="container">
                    <div class="row">
                        {% for em in employee %}

                        <div class="col-lg-4 col-sm-6 wow fadeInLeft" data-wow-delay="0.1s">
                            <div class="con_team_item_two">
                                <div class="team_img hover_effect">
                                    <img src={{em.image.url}} alt="team1">
                                    <div class="social_icon">
                                        <a href="#"><i class="ti-facebook"></i></a>
                                        <a href="#"><i class="ti-twitter-alt"></i></a>
                                        <a href="#"><i class="ti-pinterest"></i></a>
                                    </div>
                                </div>
                                <div class="content">
                                    <a href="#">
                                        <h5>{{em.full_name}}</h5>
                                    </a>
                                    <p>{{em.position}}</p>
                                </div>
                            </div>
                        </div>
                                    {% endfor %}

                    </div>
                </div>
            </section>


{% endblock %}